/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-attachment:fixed;
    font-family:"Source Sans", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Portrait layout (default) */
.app {
    width: 768px;

}

#sidebar {
    width: 30%;
    float: left;
    background-color: #AAAAAA;
    height:1004px;
    padding-top: 20px;

}

#search {
    height: 24px;
    margin-bottom: 15px;
 
}


#main {
    width: 70%;
    float: right;
    background-color: #eeeeee;
    height:1004px;
    padding-top: 20px;
}
#search-result {
    height: 903px;

    overflow-y: auto;
}

#mainnav, #sidebarnav {

    background-color: #dddddd;
    height: 50px;
 
  
}
/* Landscape layout (with min-width) */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .app {
        width: 1024px;
        height: 768px;
    
    }
    
    #sidebar {
    height:748px;

    }
    #main {
    height:748px;
    
    }
    
    #search-result {
    height: 647px;
    
}
    
}


/* Typografie */

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* Suche Sidebar */

 ul {
    list-style: none;
    width: 170px;
}
#mainnav ul {
 
}

li {

}
#search-result li {
    display: block;
    margin-left: -20px;
    padding: 10px 0 10px 5px;
    border-bottom-style:dotted;
    border-bottom-color: #ffffff;
    border-bottom-width: thin;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
}
#search-input {
    width: 200px;
    display: block;
    margin: 0 auto;
    background-image: url(img/search-bg.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position:5px 3px;
    padding-left: 18px;
    border-radius: 20px;
    border: none;
    height: 20px;

}



.back {
    height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_backward.png);
}

.mainnav {
    height:45px;
    width: 100%;
    padding: 5px 0px 0 0;
}

.sidebarnav {
    height:40px;
    width: 200px;
    padding: 5px 0px 0 0;
}

#mainnav li, #sidebarnav li {

    float: left;
    margin: 0;
    padding: 0 10px;
}

.bookmarks {
    height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_bookmarks_pressed.png);
   
}

a:active ul.popup_bookmarks {
    display: block;
}
.bookmarks:hover {
    
}

.history {
     height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_history_pressed.png);
    
}

#sidebarnav a {
    text-decoration: none;
    border: none;
    
}

sidebarnav li {
       border: none;
    
}

#article {
    height: 942px;
    overflow: auto;
    padding: 0 20px 0px 20px;
    
}

#button_categories {
    height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_categories_pressed.png);
    
}

.forward {
        height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_forward.png);
    background-repeat: no-repeat;
    margin-right: 230px;
}

.graph {
        height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_graph.png);
}

.print {
            height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_print.png);
}

.comment {
    height: 40px;
    width: 40px;
    display: block;
    background-image: url(img/bt_comment.png);
}

#bookmark {
    height:115px;
    width: 60px;
    background-image: url(img/bookmark_unpressed.png);
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left: 680px;     
}
#bookmarked {
    height:115px;
    width: 60px;
background-image: url(img/bookmark_pressed.png);
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left: 680px;     
}


#lemma {
    width: 420px;
    text-align: left;
    
}

#id {
    display: none;
    width: 420px;
    text-align: left;
    
}

#bedeutung {
}

#abbildung {
}

#abbildung_div {
    height:auto; width:auto; max-width:300px; max-height:300px;
}

#lemmazusatz {
    font-style: italic;
}

.popup_categories, .popup_bookmarks, .popup_history {
    display: none;
    width: 100px;
    height: 150px;
    position: relative;
    left: 0px;
    background-color: #ffffff;
    bottom: 155px;
    overflow: auto;
    border-radius: 10px;
    padding: 0 0 0 0;
        
}

#popup_comment, #popup_comment_new_note {
    display: none;
    width: 300px;
    height: 400px;
    position: relative;
    left: 220px;
    background-color: #ffffff;
    bottom: 461px;
    overflow: auto;
    border-radius: 10px;
    padding: 0 0 0 0;
        
}


#comments_textarea {
    height: 400px;
    width:300px;
    margin: auto;
    display: block;
}

#add_comment_button, #save_comment_button {
    float:right;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -40px;
    padding: 5px 5px 0 0;
    color: blue;
}

#popup_comment_headline, #popup_save_comment_headline {
    margin: auto;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    font-size: 20px;
    color: blue;

    
}

#comment_list li {
    width: 100%;
    margin-left: -20px;
    padding-left: 0px;
    float: left;
    height: 20px;
    padding-top: 10px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: thin;

    
    
}

#comment_list {
    width: 250px;
    display: block;
    
}